.reveal{
  opacity:0;
  transform:translateY(80px);
  transition:1s ease;
}

.reveal.show{
  opacity:1;
  transform:translateY(0);
}

.floating-card{
  animation:float 4s ease-in-out infinite;
}

.middle{
  animation-delay:1s;
}

.bottom{
  animation-delay:2s;
}

@keyframes float{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0px);
  }
}